<%- include('layouts/main.ejs') %>

<div class="cuerpo-centrado box-shadow-tenue segmentacion-12">
    <form class="form-inventario" action="/edit-articulo/<%= Articulo._id %>" method="post">
        <h2>Editar Articulo del inventario <%= Articulo._id %></h2>
        <div>
            <label for="">Nombre</label>
            <input class="input-text" type="text" name="nombre" id="" placeholder="Nombre" value="<%= Articulo.nombre %>" required>
        </div>
        
        <div>
            <label for="">Sucursal</label>
            <select class="input-text" name="sucursal">
                <% Sucursal.forEach(function(sucursal) { %>
                    <option><%= sucursal.nombre%> </option>
                <% }); %>
            </select>
        </div>
        <div>
            <label for="">Cantidad</label>
            <input class="input-text" min="0" type="number" name="cantidad" id="" placeholder="1,2,3..." value="<%= Articulo.cantidad %>"  required>
        </div>
        <div>
            <label for="">Descripción</label>
            <textarea class="textarea-text" name="descripcion" id="" cols="50" rows="7" placeholder="Descripcion breve del producto" required><%= Articulo.descripcion %></textarea>
        </div>
        <!--btn-submit -->
    
            <button type="submit" class="btn-submit">Actualizar</button>
        
    </form>
</div>

<%- include('layouts/footer.ejs') %>