<%- include('layouts/main.ejs') %>

<section class="imagen-bienvenida">

</section>
<section class="texto-derecho">
    <input type="text" class="busqueda" id="rastreo" name="guianum" placeholder="Número de guía">
    <a href="" id="direccion" onclick="mostrarguia()" class="btn-submit">Rastrear</a>
</section>


<div class="segmentacion-12 n-4">

    <table class="tabla-inventario box-shadow-tenue">
        <tr class="titulo-tabla">
            <td>Nombre</td>
            <td>Ciudad</td>
            <td>Dirección</td>
    
        </tr>
        <% Sucursal.forEach(function(sucursal){ %>
        <tr class="cuerpo-tabla">
            <td><%=sucursal.nombre%></td>
            <td><%=sucursal.ciudad%></td>
            <td><%=sucursal.direccion%></td>
        </tr>
        <% }); %> 
      </table>     

</div>

    <script src="/javaScript/generador.js"></script>
<%- include('layouts/footer.ejs') %>