<%- include('layouts/main.ejs') %>

            
<div class="cuerpo-centrado box-shadow-tenue segmentacion-12">
    <h1 class="titulo-inventario">Sucursales</h1>
    <a class="redireccion agregar" href="/agregar-sucursal">Agregar</a>
    <div class="seccion-tabla segmentacion-12">

            <table class="tabla-inventario box-shadow-tenue">
                <tr class="titulo-tabla">
                    <td>Nombre</td>
                    <td>Ciudad</td>
                    <td>Dirección</td>
                    <td></td>
                </tr>
                <% Sucursal.forEach(function(sucursal){ %>
                <tr class="cuerpo-tabla">
                    <td><%=sucursal.nombre%></td>
                    <td><%=sucursal.ciudad%></td>
                    <td><%=sucursal.direccion%></td>
                    <td>
                        <a href="/editar-sucursal/<%= sucursal._id %>"><i class="fi fi-rr-pencil"></i></a>
                        <a href="/borrar-sucursal/<%= sucursal._id %>"><i class="fi fi-rr-trash"></i></a>
                    </td>
                </tr>
                <% }); %> 
              </table>     
       
    </div>
</div>
       


<%- include('layouts/footer.ejs') %>